In [14]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import os
import smtplib

In [15]:
# Connect to Website and pull in data

URL = 'https://www.amazon.com/dp/B0DKMXR53N'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9"
}

page = requests.get(URL, headers=headers)

soup = BeautifulSoup(page.content, 'html.parser')
    
# Find the product title
title = soup.find(id='productTitle').get_text(strip=True)

# Find the product price
whole = soup.find('span', class_='a-price-whole').get_text().replace(',', '').strip().rstrip('.')
fraction = soup.find('span', class_='a-price-fraction').get_text().strip()
price = float(f"{whole}.{fraction}")


print(f"{title}")
print(price)

Data Minded, Funny MIS Data Systems Business Analyst Premium T-Shirt
1300.45

In [16]:
import csv 

header = ['Title', 'Price', 'Date', 'Percent_Change']
data = [title, price, today, percent_change]

# with open('AmazonPriceCheckerDataset.csv', 'w', newline='', encoding='UTF8') as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)

In [17]:
file_name = r"C:\Users\angel\AmazonPriceCheckerDataset.csv"
previous_price = None

if os.path.exists(file_name):
    with open(file_name, 'r', encoding='UTF8') as f:
        reader = list(csv.reader(f))
        if len(reader) > 1:
            previous_price = float(reader[-1][1])

if previous_price is not None:
    percent_change = round(((price - previous_price) / previous_price) * 100, 2)
else:
    percent_change = 0.0

In [18]:
today = datetime.date.today()
print(today)

2026-01-09

In [19]:
import pandas as pd

df = pd.read_csv(r"C:\Users\angel\AmazonPriceCheckerDataset.csv")

df

,Title,Price,Date,Percent_Change
0,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
1,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0

In [20]:
# Appending data to the csv

with open('AmazonPriceCheckerDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [23]:
def check_price():
    # Connect to Website and pull in data

    URL = 'https://www.amazon.com/dp/B0DKMXR53N'
    
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36",
        "Accept-Language": "en-US,en;q=0.9"
    }
    
    page = requests.get(URL, headers=headers)
    
    soup = BeautifulSoup(page.content, 'html.parser')
        
    # Find the product title
    title = soup.find(id='productTitle').get_text(strip=True)
    
    # Find the product price
    whole = soup.find('span', class_='a-price-whole').get_text().replace(',', '').strip().rstrip('.')
    fraction = soup.find('span', class_='a-price-fraction').get_text().strip()
    price = float(f"{whole}.{fraction}")
    
    
    print(f"{title}")
    print(price)  
    
    # Checking Price Change in Percentage
    file_name = r"C:\Users\angel\AmazonPriceCheckerDatasetDataset.csv"
    previous_price = None

    if os.path.exists(file_name):
        with open(file_name, 'r', encoding='UTF8') as f:
            reader = list(csv.reader(f))
            if len(reader) > 1:
                previous_price = float(reader[-1][1])
    
    if previous_price is not None:
        percent_change = round(((price - previous_price) / previous_price) * 100, 2)
    else:
        percent_change = 0.0
        
    print(percent_change)
    
    today = datetime.date.today()

    # Downloading csv file

    header = ['Title', 'Price', 'Date', 'Percent_Change']
    data = [title, price, today, percent_change]
    
    with open('AmazonPriceCheckerDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [25]:
# Check the price every 24hrs (86,400 secs)
while(True):
    check_price()
    time.sleep(86400)

Data Minded, Funny MIS Data Systems Business Analyst Premium T-Shirt
1300.45
0.0
Data Minded, Funny MIS Data Systems Business Analyst Premium T-Shirt
1300.45
0.0
Data Minded, Funny MIS Data Systems Business Analyst Premium T-Shirt
1300.45
0.0

KeyboardInterrupt:

In [26]:
import pandas as pd
df = pd.read_csv(r"C:\Users\angel\AmazonPriceCheckerDataset.csv")
df

,Title,Price,Date,Percent_Change
0,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
1,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
2,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
3,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
4,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
5,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
6,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
7,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
8,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
9,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
10,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
11,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
12,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0
13,"Data Minded, Funny MIS Data Systems Business A...",1300.45,2026-01-09,0.0